* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100svh;
  background-color: #f0f0f0;
}

.blue {
  background-color: rgba(0, 0, 255, 0.1);
  color: rgba(0, 0, 255, 0.8);
}

.red {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.8);
}

.cards-container {
  display: grid;
  place-content: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 100svh;
  gap: 20px;
  padding: 10px;
}

.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  box-shadow: 0 5px 5px #cacaca;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.card__image {
  width: 100%;
  height: 200px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.card__info_data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.card__category {
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card__published_date {
  font-size: 0.9rem;
  color: #545454;
}

.card__title {
  font-size: 1.5rem;
  color: #0f0f0f;
}

.card__desc {
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #545454;
}

@media screen and (width > 800px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width < 800px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width < 500px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
