* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f8fc;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100svh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-content: center;
  gap: 1em;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 35px;
  overflow: hidden;
  padding: 20px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.card:hover {
  box-shadow: 0 5px 10px #ddd;
  translate: 0 -2px;
}

.category {
  font-size: 0.7rem;
  background-color: #f7f8fc;
  padding: 5px 12px;
  border: 1px solid #ddd;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.price {
  font-size: 2.5rem;
  color: #070f28;
}

.desc_text {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 5px;
}

.try-button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-color: #49a8f6;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.includes-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #070f28;
}

.includes-list {
  color: #11182f;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.includes-list li {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  font-size: 0.7rem;
  border-top: 1px solid #ddd;
  padding: 8px;
}

.includes-list li:first-child,
.includes-list:last-child {
  border: none;
}

.includes-subtitle {
  font-size: 0.8rem;
  margin-top: 15px;
  line-height: 1.2rem;
}

/* Shapes */
.circle-shape {
  position: absolute;
  top: -30px;
  right: -50px;
  background-color: #a9d6fb;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.square-shape {
  position: absolute;
  top: -30px;
  right: -50px;
  background-color: #c86fc8;
  width: 150px;
  height: 150px;
  border-radius: 0 0 0 50px;
  -webkit-border-radius: 0 0 0 50px;
  -moz-border-radius: 0 0 0 50px;
  -ms-border-radius: 0 0 0 50px;
  -o-border-radius: 0 0 0 50px;
}

.triangle-shape {
  position: absolute;
  top: -30px;
  right: -60px;
  background-color: #ffa517;
  width: 150px;
  height: 150px;
  transform: skewX(330deg);
  border-radius: 0 0 0 50px;
}
