@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
  --dark-background: #191919;
  --dark-border: #b8b8b8;
  --dark-text: #b8b8b8;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebeaef;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

article[class^="card"] {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px 10px;
}

.container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  gap: 10px;
  font-family: "Rubik", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* container responsive */
@media screen and (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 5px;
  }
}

.first-col,
.second-col {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-col {
  background-color: black;
}

/* card 1 styles */
.card1 {
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-left: 5px solid #ddd;
}

.card1__title {
  color: #2a2a2c;
  font-size: 0.8rem;
}

.card1__message {
  color: #4d4d50;
  font-size: 0.7rem;
}

.card1__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* card 2 styles */
.card2 {
  background-color: #f7f7f9;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border: none;
  border-left: 5px solid #6036ed;
  position: relative;
}

.card2__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card2__right-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.card2__title {
  color: #2a2a2c;
  font-size: 0.8rem;
}

.card2__message {
  color: #4d4d50;
  font-size: 0.7rem;
}

.right-col__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card2__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card2__button-secondary {
  font-size: 0.7rem;
  background-color: transparent;
  border: none;
  color: #6036ed;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/* card 3 light */
.card3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff9eb;
}

.card3__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #ef9000;
}

.card3__title {
  font-size: 0.8rem;
  font-weight: bold;
}

.card3__title span {
  font-weight: normal;
}

.card3__button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ef9000;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/* card 4 light */
.card4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff9eb;
}

.card4__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #ef9000;
}

.card4__title {
  font-size: 0.8rem;
  font-weight: bold;
}

.card4__title span {
  font-weight: normal;
}

.card4__button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ef9000;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/* card 5 light */
.card5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #e3f8ef;
}

.card5__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #59947b;
}

.card5__title {
  font-size: 0.8rem;
  font-weight: bold;
}

/* card 6 styles */
.card6 {
  background-color: #f0fafc;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border: none;
  border-left: 5px solid #09b8f6;
  position: relative;
}

.card6__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card6__right-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.card6__title {
  color: #09b8f6;
  font-size: 0.8rem;
}

.card6__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid #b8b8b8;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* card 1 dark mode */
.card1-dark {
  background-color: var(--dark-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-left: 5px solid var(--dark-border);
}

.card1-dark__title {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.card1-dark__message {
  color: gray;
  font-size: 0.7rem;
}

.card1-dark__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: #1a1a1a;
  color: var(--dark-text);
  border: 1px solid var(--dark-border);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/* card 2 dark */
.card2-dark {
  background-color: var(--dark-background);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border: none;
  border-left: 5px solid #6036ed;
  position: relative;
}

.card2-dark__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card2-dark__right-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.card2-dark__title {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.card2-dark__message {
  color: gray;
  font-size: 0.7rem;
}

.right-col__buttons {
  display: flex;
  gap: 10px;
}

.card2-dark__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: var(--dark-background);
  color: var(--dark-text);
  border: 1px solid var(--dark-text);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card2-dark__button-secondary {
  font-size: 0.7rem;
  background-color: transparent;
  border: none;
  color: gray;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/* card 3 dark */
.card3-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--dark-background);
}

.card3-dark__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #ef9000;
}

.card3-dark__title {
  font-size: 0.8rem;
  font-weight: bold;
}

.card3-dark__title span {
  font-weight: normal;
  color: gray;
}

.card3-dark__button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ef9000;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

/* card 4 dark */
.card4-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--dark-background);
}

.card4-dark__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #ef9000;
}

.card4-dark__title {
  font-size: 0.8rem;
  font-weight: bold;
}

.card4-dark__title span {
  font-weight: normal;
  color: gray;
}

/* card 5 dark */
.card5-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--dark-background);
}

.card5-dark__texts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #59947b;
}

.card5-dark__title {
  font-size: 0.8rem;
  font-weight: bold;
}

/* card 6 dark */
.card6-dark {
  background-color: var(--dark-background);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  border: none;
  border-left: 5px solid #09b8f6;
  position: relative;
}

.card6-dark__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card6-dark__right-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.card6-dark__title {
  color: #09b8f6;
  font-size: 0.8rem;
}

.card6-dark__button {
  font-size: 0.7rem;
  padding: 4px 6px;
  background-color: var(--dark-background);
  color: var(--dark-text);
  border: 1px solid var(--dark-border);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
